.home-body {
    font-family: "proxima-nova",helvetica neue,helvetica,arial,sans-serif;
    background: "./img/bg-main-future-city.jpg";
    color:#121619;
    font-size: 17px;
    background-color: #fcfcfc;
}
header {
    color:#ebecee;
    background-color: #018ac0da;
}